<% # app/views/users/profile.html.erb %>

<h1><%= t('profile') %></h1>
<div class="row justify-content-between user-block">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="notice"><%= flash[:notice] %></div>
  <% end %>

  <div class="col-sm-auto">
    <div class="form-group">
      <label><%= t('name')+':' %></label>
      <label>
        <% begin %>
          <%= '@'+@user.name.downcase %>
        <% rescue %>
          <%= '@'+'user_name_error' %>
        <% end %>
      </label>
    </div>

    <div class="form-group">
      <span>Email:</span>
      <span>
        <% begin %>
          <%= @user.email.downcase %>
        <% rescue %>
          <%= 'user_email_error' %>
        <% end %>
      </span>
    </div>

    <div class="form-group datetime">
      <span>Since</span>
      <span>
        <% begin %>
          <%= @user.created_at.strftime("%Y-%m-%d %H:%M") %>
        <% rescue %>
          <%= 'user_created_at_error' %>
        <% end %>
      </span>
    </div>

    <div class="form-group">
      <span>
        <%= t("user's posts")+':' %>
      </span>
      <% Post.where(user_id: @user.id).each do |post| %>
        <a class="badge button-link" href=<%= posts_show_path(id: post.id) %>>
          <%= post.title %>
        </a>
      <% end %>
    </div>
  </div>

  <% if (@user.id == current_user.id) %>
      <div class='col-sm-auto row align-items-center'>
        <div class='col-sm-auto' style='padding-left: 0'>
          <%= link_to users_edit_path(id: @user.id, user_id: current_user.id), class: "btn btn-info" do %>
              <div class="row align-items-center">
                <div class="col-sm-auto pl-2 pr-2">
                  <i class="bi-pencil-square"></i>
                </div>
                <div class="col-sm-auto pl-0 pr-2">
                  <%= t('edit') %>
                </div>
              </div>
            </a>
          <% end %>
        </div>

        <div class='col-sm-auto' style='padding-left: 0'>
          <%= button_to posts_remove_path(id: @user.id, user_id: current_user.id), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" do %>
              <div class="row align-items-center">
                <div class="col-sm-auto pl-2 pr-2">
                  <i class="bi-trash"></i>
                </div>
                <div class="col-sm-auto pl-0 pr-2">
                  <%= t('delete') %>
                </div>
              </div>
            </button>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
