<div class="post_block">
  <div class="post_head">
    <div class="row justify-content-between">
      <div class='col-sm-auto'>
        <div class="post_title">
          <a class="h3" href="/posts/show?id=<%= @post.id.to_s%>">
            <%= @post.title %>
          </a>
        </div>
        <div class="post_stat">
          <strong>
            <%= t('author')+':' %p %>
          </strong>
          <% begin %>
            <% user = User.find(@post.author) %>
            <%= link_to "#{user.name}", users_profile_path(id: user.id) %>
          <% rescue %>
            <%= 'Author not found' %>
          <% end %>
        </div>
      </div>
      <div class='col-sm-auto'>
        <%= button_to "Delete", posts_remove_path(id: @post.id), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  <div>
    <% cache @post do %>
      <% @post.content.split("\n").each do |par| %>
        <p>
          <%= par %>
        </p>
      <% end %>
    <% end %>
  </div>
  <%= form_for :comment, url: '/comments' do |f| %>
    <p><%= t(:'add new comment') %></p>
    <%= f.hidden_field :post, value: @post.id %>
    <%= f.text_area :content, placeholder: t('write here'), rows: "4", style: 'width: 100%' %>
    <%= f.submit t('create'), class: 'btn btn-info' %>
  <% end %>
  <% Comment.where(post: @post.id).each do |comm| %>
    <% begin %>
      <% cache comm do %>
        <div class="row comment-block">
          <div class="col-sm-auto" name="comment_stat">
            <p>
              <% user = User.find(comm.author) %>
              <%= link_to "#{user.name}", users_profile_path(id: user.id) %>
              :
            </p>
          </div>
          <div class="col-sm-auto" name="comment_wraper">
            <div>
              <%= comm.content %>
            </div>
          </div>
        </div>
      <% end %>
    <% rescue %>
      <%= 'comment error' %>
    <% end %>
  <% end %>
</div>
