<div class="post_block">

  <div class="post_head">
    <% if flash[:notice] %>
      <div class="alert alert-success" role="notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
    <% end %>

    <div class="row justify-content-between">
      <div class='col-sm-auto'>
        <div class="post_title">
          <a class="h3" href="/posts/show?id=<%= @post.id.to_s%>">
            <%= @post.title %>
          </a>
        </div>

        <div class="post_stat">
          <div>
            <strong><%= t('author')+':' %></strong>
            <% begin %>
              <% user = User.find(@post.user_id) %>
              <%= link_to "#{user.name}", users_profile_path(id: user.id) %>
            <% rescue %>
              <%= 'Author not found' %>
            <% end %>
          </div>
          <div>
            <strong><%= t('publication date')+':' %></strong>
            <span class="datetime datetime-md"><%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></span>
          </div>
        </div>
      </div>

      <% if (@post.user_id == current_user.id) %>
        <div class='col-sm-auto row align-items-center'>
          <div class='col-sm-auto' style='padding-left: 0'>
            <%= link_to posts_edit_path(id: @post.id, user_id: current_user.id), class: "btn btn-info" do %>
                <div class="row align-items-center">
                  <div class="col-sm-auto pl-2 pr-2">
                    <i class="bi-pencil-square"></i>
                  </div>
                  <div class="col-sm-auto pl-0 pr-2">
                    <%= t('edit') %>
                  </div>
                </div>
              </a>
            <% end %>
          </div>

          <div class='col-sm-auto' style='padding-left: 0'>
            <%= button_to posts_remove_path(id: @post.id, user_id: current_user.id), method: :delete, data: {confirm: 'Delete post. Are you sure?'}, class: "btn btn-danger", id: "delete_post_btn" do %>
                <div class="row align-items-center">
                  <div class="col-sm-auto pl-2 pr-2">
                    <i class="bi-trash"></i>
                  </div>
                  <div class="col-sm-auto pl-0 pr-2">
                    <%= t('delete') %>
                  </div>
                </div>
              </button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="post_body">
    <div class="post_body_stat"><strong><%= t('content')+':' %></strong></div>
    <% cache @post do %>
      <% @post.content.split("\n").each do |par| %>
        <p>
          <%= par %>
        </p>
      <% end %>
    <% end %>
  </div>

  <%= form_for :comment, url: '/comments' do |f| %>
    <p><%= t(:'add new comment') %></p>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.text_area :content, placeholder: t('write here'), rows: "4", style: 'width: 100%' %>
    <%= f.submit t('create'), class: 'btn btn-info' %>
  <% end %>

  <% Comment.where(post_id: @post.id).each do |comm| %>
    <% begin %>
      <% cache comm do %>
        <div class="#post_comments row justify-content-start comment-block">
          <div class="col-sm-auto" name="comment_stat">
            <p>
              <% user = User.find(comm.user_id) %>
              <%= link_to "#{user.name}", users_profile_path(id: user.id) %>
              :
            </p>
          </div>

          <div class="col-sm row justify-content-between" name="comment_wraper">
            <div class="col-sm-auto">
              <% cache comm do %>
                <% comm.content.split("\n").each do |par| %>
                  <p>
                    <%= par %>
                  </p>
                <% end %>
              <% end %>
            </div>

            <div class="col-sm-auto row justify-content-end align-items-center">
              <% if (comm.user_id == current_user.id) %>
                <div class='col-sm-auto' style='padding-left: 0'>
                  <%= link_to comments_edit_path(id: comm.id, user_id: current_user.id), class: "btn btn-info" do %>
                      <div class="row align-items-center">
                        <div class="col-sm-auto pl-2 pr-2">
                          <i class="bi-pencil-square"></i>
                        </div>
                        <div class="col-sm-auto pl-0 pr-2">
                          <%= t('edit') %>
                        </div>
                      </div>
                    </a>
                  <% end %>
                </div>

                <div class='col-sm-auto' style='padding-left: 0'>
                  <%= button_to comments_remove_path(id: comm.id, user_id: current_user.id), method: :delete, data: {confirm: 'Delete comment. Are you sure?'}, class: "btn btn-danger", id: "delete_comment_btn" do %>
                      <div class="row align-items-center">
                        <div class="col-sm-auto pl-2 pr-2">
                          <i class="bi-trash"></i>
                        </div>
                        <div class="col-sm-auto pl-0 pr-2">
                          <%= t('delete') %>
                        </div>
                      </div>
                    </a>
                  <% end %>
                </div>
              <% end %>

              <div class="col-sm-auto datetime" style='padding: 0'>
                <%= t('edited:') if comm.created_at != comm.updated_at %>
                <%= comm.updated_at.strftime("%Y-%m-%d %H:%M") %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% rescue %>
      <%= 'comment error' %>
    <% end %>
  <% end %>
</div>
